body {
  width:100%;
  height:100%
}
body{
  background:url("../images/Afternoon_BGImage_v2_0.jpeg") no-repeat 100% fixed;
}

a {
  text-decoration: none;
}
.header-outer {
  overflow: hidden;
  background: rgba(255,255,235,0.6);
}
.header {
  width: 1050px;
  height: 30px;
  margin: 0 auto;
}
.header .header-l {
  float: left;
}
.header .header-l li {
  line-height: 30px;
  padding: 0 5px;
  float: left;
}
.header .header-r {
  float: right;
}
.header .header-r li{
  line-height: 30px;
  padding: 0 5px;
  float: left;
}
.header a{
  color: grey;
  text-decoration: none;
}
.header a:hover {
  color: orange;
}
.header a.header-light {
  color: orange; 
}




.search-outer {
  overflow: hidden;
  height: 100px;
  width: 100%;
  z-index: 110;
  left: 0px;
  top: 0px;
  position: relative;
  background: rgba(255,255,235,0.5);
}
.search {
  width: 1050px;
  margin: 0 auto;
  overflow: hidden;
}
.search .logo {
  width: 220px;
  height: 100px;
  float: left;
}
.search .logo img {
  width: 80px;
  height: 80px;
  float: left;
  border-radius: 17px;
  margin: 10px 20px 10px 0;
}
.search .logo .logo-txt {
  float: left;
  margin: 20px 0;
  width: 30px;
  color: orange;
  font-size: 30px;
  display: inline-block;
}
.search .search-input {
  width: 300px;
  height: 100px;
  float: left;
  position: relative;
}
.search .search-input input {
  text-indent: 2em;
  font-size: 20px;
  outline: none;
  width: 220px;
  padding: 3px 0;
  border: none;
  background: rgba(255,255,235,0) url('../images/icon/magnifier1.png') left center no-repeat;
  height: 30px;
  color: #bfbfbf;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 35px;
  border-bottom: 1px solid rgba(0,0,0,0.5);
}
.search input.focus {
  border-bottom: 1px solid #f6e56d;
  background: rgba(255,255,235,0) url('../images/icon/magnifier1-hover.png') left center no-repeat;
}
.search .mylegou {
  width: 405px;
  float: right;
  position: relative;
}
.search .mylegou .cart-number {
  position: absolute;
  left: 39px;
  top: 6px;
  color: red;
}
.search .mylegou .shop-cart {
  background: url('../images/icon/shop-cart.png') left center no-repeat;
  background-size: 40px 40px;
}
 .search .mylegou .shop-order {
  background: url('../images/icon/order.png') left center no-repeat;
  background-size: 40px 40px;
}
.search .mylegou a {
  width: 100px;
  color: #6f6f6f;
  line-height: 60px;
  float: left;
  padding-left: 60px;
  margin: 20px 0;
  background-size: 40px 40px;
}
.search .mylegou .shop-qrcode {
  float: left;
  margin: 10px 0;
}

.side-bar {
  width: 35px;
  height: 100%;
  position: fixed;
  right: 0px;
  top: 100px;
  display: none;
  background: rgba(255,255,235,0.5);
}
.side-bar .to-up {
  position: fixed;
  bottom: 10px;
  right: 0px;
  width: 35px;
  height: 35px;
  background: url('../images/icon/to-up.png') center no-repeat;
  background-size: 25px 25px;
}
.side-bar .to-up:hover {
  background: #000 url('../images/icon/to-up.png') center no-repeat;
  background-size: 25px 25px;
}
.side-bar .to-up-intro {
  width: 0;
  height: 31px;
  text-align: center;
  border-radius: 3px 0 0 3px;
  overflow: hidden;
  line-height: 31px;
  background: #000;
  color: white;
  position: absolute;
  left: 0px;
  top: 2px;
}



.nav-outer {
  overflow: hidden;
  background: rgba(255,255,235,0.4);
  position: relative;
  left: 0px;
  top: 0px;
}
.nav {
  width: 1050px;
  line-height: 40px;
  margin: 0 auto;
}
.nav .goods-list {
  padding: 0 3px;
}
.nav .goods-list li{
  width: 87px;
  text-align: center;
  float: left;
}
.nav .goods-list li a {
  width: 100%;
  height: 100%;
  display: inline-block;
  text-decoration: none;
  color: orange;
}
.nav .goods-list li a:hover {
  color: rgba(255, 165, 0, 0.6);
  text-decoration: underline;
}
.commodity-outer{
      width: 100%;
    }
.commodity-list{
  width: 1050px;
  overflow: hidden;
  margin: 0 auto;
}
.commodity-list li{
  width: 188px;
  height: 250px;
  float:left ;
  margin: 10px;
  border:1px solid skyblue;
  overflow:hidden;
  background: skyblue;
}
.commodity-list li:hover{
  border: 1px solid orange;
}
.commodity-list li img{
  width: 190px;
  height: 190px;
}
.commodity-list li p{
  font-size: ;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 20px;
}
.footer {
  margin-top: 100px;
  height: 100px;
  background: rgba(0,0,0,0.5);
}