<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="css/font/iconfont.css">
  <link rel="stylesheet" type="text/css" href="css/reset.css">
  <link rel="stylesheet" type="text/css" href="css/swiper-3.4.2.min.css">
  <link rel="stylesheet" type="text/css" href="css/index.css">
  <link rel="stylesheet" type="text/css" href="css/classify.css">
  <style type="text/css">
    
  </style>
</head>
<body>
  <div class="L-header">
    <div class="search-box">
      <span class="go-back-home iconfont icon-fanhui" id="go-back-history"></span>
      <span class="go-back iconfont icon-fanhui" id="go-back"></span>
      <div class="search-input iconfont icon-search">
        <input type="text" name="" id="search-input" placeholder="杯子" />
      </div>
      <span class="go-search" id="go-search">搜索</span>
      <span class="user iconfont icon-yonghu" id="user"></span>
    </div>
    <div class="nav-box">
      <div class="unit" id="unit">
        <ul>
          <li><a data-id="0" href="index.html"><span>今日推荐</span></a></li>
        </ul>
      </div>
    </div>
    <div class="search-prompt" id="search-prompt">
    </div>
  </div>
  <div class="class-nav">
    <div class="list-item">
      <a href="javascript:;" id="alexa-rank"><span>综合</span></a>
      <a href="javascript:;"><span>销量</span></a>
      <a href="javascript:;"><span>新品</span></a>
      <a href="javascript:;"><span class="price-dropdown" id="price-dropdown">价格</span></a>
      <b class="iconfont icon-list" id="list-style"></b>
    </div>
    <div class="price-container">
      <div class="recommend">
        <ul>
          <li>
            25-115
          </li>
          <li>
            115-245
          </li>
          <li>
            245-450
          </li>
        </ul>
      </div>
      <div class="self-custom">
        <i>区间</i>
        <div class="input-min"><input type="number" class="min" name=""></div>
        <i>—</i>
        <div class="input-max"><input type="number" class="max" name=""></div>
        <span class="confirm">确认</span>
      </div>
    </div>
  </div>
  <div class="L-body" style="padding-top:143px">
    <div class="L-today-sale">
      <div class="ts-body">
        <ul class="style2">
        </ul>
        <div class="again-load">
        </div>
      </div>
    </div>
    <div class="L-body-footer">
      ©2017 优享乐购
    </div>
  </div>
  <div class="back-top-box">
    <div class="back-top iconfont icon-fanhui"></div>
  </div>
  <div class="footer-nav" id="footer-nav">
    <span class="icon iconhome" id="L-home">首页</span>
    <span class="icon iconstore" id="L-cart">购物车</span>
    <span class="iconfont icon-xinchangtai">我的收藏</span>
    <span class="icon iconyonghu" id="L-order">我的订单</span>
  </div>
  <div class="search-bc"></div>

  <div class="model-comfirm" id="model-comfirm">
    <div class="wrap" id="wrap">
      <div class="box" id="box">
        <!-- <div class="hd"><span class="close" id="close">关闭</span></div> -->
        <h1>商品已全部加载完成</h1>
      </div>
    </div>
  </div>

  <div class="prestrain">

  </div>
  <script type="text/template" id="temsearch">
    <% for(var i = 0; i < data.length / 3; i++ ) { %>
      <ul>
        <% for(var j = i * 3; j < i * 3 + 3; j++ ) { %>
        <li><a href="search.html?search_text=<%= data[j] %>"><%= data[j] %></a></li>
        <% } %>
      </ul>
    <% } %>
  </script>
  <script type="text/template" id="temnav">
  <% for(var i = 0; i < data.length; i++ ) { %>
    <li>
      <a href="classify.html?cat_id=<%= data[i].cat_id %>">
        <span class="<%= data[i].cat_id %>"><%= data[i].cat_name %></span>
      </a>
    </li>
  <% } %>
  </script>
  <script type="text/template" id="tem">
    <div class="ts-page-container ts-page<%= page.page_count %>">
      <% for(var i = 0; i < data.length / 2 - 1; i++ ) { %>
        <div class="row">
          <% for(var j = i * 2; j < i * 2 + 2; j++ ) { %>
          <li>
            <a href="goods.html?goods_id=<%= data[j].goods_id %>">
              <div class="pic"><img src = '<%= data[j].goods_thumb %>'></div>
              <div class="intro">
                <div class="infor"><%= data[j].goods_desc %></div>
                <div class="price"><span>&yen;<i><%= data[j].price %></i></span></div>
              </div>
            </a>
          </li>
          <% } %>
        </div>
      <% } %>
    </div>
  </script>
  <script type="text/javascript" src="js/node_modules/ejs/ejs.min.js"></script>
  <script type="text/javascript" src="js/jquery-1.12.3.min.js"></script>
  <script type="text/javascript" src="js/common.js"></script>
  <script type="text/javascript" src="js/classify.js"></script>
</body>
</html>