* {
      padding: 0px;
      margin: 0px;
    }
    html {
      font-size: 16px;
    }
    a {
      text-decoration: none;
    }
    body,html {
      height: 100%;
      width: 100%;
    }
    body {
      background: #f2f2f2;
    }
    .container {
      min-width: 20rem;
      max-width: 33.75rem;
      position: relative;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      overflow: hidden;
    }
    .search-outer {
      height: 3rem;
      box-sizing: border-box;
      border-top: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
      display: flex;
      width: 100%;
      min-width: 20rem;
      max-width: 33.75rem;
      position: fixed;
      top: 0px;
      z-index: 10;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
    }
    .search-box {
      flex: 10;
      height: 1.8rem;
      font-size: 0.7rem;
      margin: 0.6rem 0 0.6rem 0.6rem;
      line-height: 1.8rem;
      padding-left: 2rem;
      color: #666;
      background: #fff url(../images/icon/magnifier.png) 0.5rem center no-repeat;
      background-size: 1.2rem 1.2rem;
      box-sizing: border-box;
      border: 1px solid #999;
      box-shadow: 1px 2px 5px #ccc;
      border-radius: 0.5rem;
    }
    .user-personal {
      flex: 1;
      margin: 0 10px;
      font-size: 0.8rem;
      height: 99%;
      position: relative;
      text-decoration: none;
      color: #2eaae0;
      display: block;
    }
    .user-personal span {
      display: block;
      text-align: center;
      white-space: nowrap;
      position: absolute;
      left: 50%;
      width: 1.8rem;
      transform: translateX(-50%);
      bottom: 0.3rem;
      letter-spacing: 2px;
    }
    .user-personal::before {
      content: '';
      position: absolute;
      top: 4px;
      left: 50%;
      transform: translateX(-50%);
      width: 1.7rem;
      height: 1.4rem;
      background: url(../images/un_ico_home_v620.png) -58px -193px no-repeat;
      background-size: 104px 326px;
    }


    .header {
      width: 100%;
      margin-top: 3rem;
      background: #fff;
      min-width: 20rem;
      max-width: 33.75rem;
    }
    .header ul {
      list-style: none;
    }
    .header .swiper-container .swiper-pagination {
      background: rgba(0,0,0,0);
    }
    .header .swiper-container .swiper-pagination-bullet{
      background:#fff;
      height: 0.31rem;
    }
    .header .swiper-container .swiper-pagination-bullet-active{
      opacity:1;
      background:#fff;
      width:1.6rem;
      height:0.21rem;
      border:0.05rem solid #ccc;
      border-radius:0.3rem;
    }
    .header .carousel-wrap img {
      width: 100%;
      vertical-align: bottom;
    }

    .nav {
      padding: 7px;
    }
    .nav ul li {
      border-radius: 5px;
      height: 5.62rem;
      margin-bottom: 4px;
      display: flex;
      overflow: hidden;
    }
    .nav ul li .list-item {
      flex: 1;
      border-left: 1px solid #fff;
      box-sizing: border-box;
      height: 100%;
      display: flex;
      flex-direction: column;
    }
    .nav ul li .list-item:nth-child(1) {
      border: none;
    }

    .nav ul li .list-item a {
      box-sizing: border-box;
      border-bottom: 1px solid #fff;
      flex: 1;
      text-align: center;
      line-height: 2.8rem;
      width: 100%;
      height: 100%;
      position: relative;
    }
    .nav ul li .list-item:nth-child(1) a {
      border-bottom: none;
    }
    .nav ul li .list-item a {
      text-decoration: none;
    }
    .nav ul li .list-item i {
      background: transparent;
      color: white;
    }
    .nav ul li .list-item span {
      background: transparent;
      width: 2.68rem;
      height: 2.68rem;
      position: absolute;
      left: 50%;
      bottom: 10px;
      background: url(../images/un_ico_home_v620.png) no-repeat;
      background-size: 104px 326px;
      transform: translateX(-50%);
    }
    .nav ul li:nth-child(1) a {
      background: #ff697a;
    }
    .nav ul li:nth-child(3) a {
      background: #44c522;
    }
    .nav ul li:nth-child(1) .list-item span{
      background-position:  0 -126px;
    }
    .nav ul li:nth-child(3) .list-item span{
      background-position:  1px -179px;
    }
    .nav ul li:nth-child(2) a {
      background: #3d98ff;
    }
    .nav ul li:nth-child(2) .list-item span{
      background-position:  0 -285px;
    }
    .nav ul li:nth-child(4) a {
      background: #fc9720;
    }
    .nav ul li:nth-child(4) .list-item a:nth-child(1) {
      border-bottom: 1px solid #fff;
    }
    .nav ul li .list-item a:nth-child(2) {
      border-bottom: none;
    }
    .nav ul li .list-item:nth-child(4) a:nth-child(2) {
      padding-bottom: 1px;
    }
    

    .subNav-outer {
      padding: 0 7px 7px 7px;
    }
    .subNav {
      width: 100%;
      box-sizing: border-box;
      border: 1px solid blue;
      overflow: hidden;
      border-radius: 5px;
      display: table;
      border-collapse: collapse;
    }
    .subNav .row {
      display: flex;
      width: 100%;
    }
    .subNav .row .col {
      display: table-row;
      flex: 1;
      width: 100%;
      height: 100%;
      height: 3.75rem;
      background: white;
      line-height: 5.25rem;
      text-align: center;
    }
    .subNav .row .col i {
      font-size: 0.75rem;
      background: transparent;
    } 
    .subNav .row .col a {
      color: black;
      display: table-cell;
      border: 1px solid rgb(242, 242, 242);
      width: 100%;
      height: 100%;
      display: inline-block;
      position: relative;
      background: transparent;
    }
    .subNav .row .col span {
      width: 1.25rem;
      height: 1.25rem;
      background: url(../images/un_ico_subnav_v7.5@2x.png) 0 -158px no-repeat;
      background-size: 20px 315px;
      position: absolute;
      left: 50%;
      top: 10px;
      transform: translateX(-50%);
    }

    .subNav .row .col1 span {
      background-position: 0 -100px;
    }
    .subNav .row .col2 span {
      background-position: 0 -291px;
    }
    .subNav .row .col3 span {
      background-position: 0 -119px;
    }
    .subNav .row .col4 span {
      background-position: 0 -139px;
    }
    .subNav .row .col6 span {
      background-position: 0 -179px;
    }
    .subNav .row .col7 span {
      background-position: 0 -199px;
    }
    .subNav .row .col8 span {
      background-position: 0 -219px;
    }
     .subNav .row .col9 span {
      background-position: 0 -19px;
    }
     .subNav .row .col10 span {
      background-position: 0 -260px;
    }
    .subNav .row .col11 span {
      background: url(../images/play56.png) no-repeat;
      background-size: 20px 20px;
    }
    .subNav .row .col12 span {
      background-position: 0 -59px;
    }

    .trip-sale {
      padding: 7px;
      background: white;
      overflow: hidden;
      /* height: 200px; */
    }
    .trip-sale .hd,.activity-hot .hd {
      width: 100%;
      margin: 0.75rem 0;
      height: 1.25rem;
      background: url(../images/un_home_text.png) 1px 1px no-repeat;
      background-size: 79px auto;
    }
    .trip-sale .hd a,.activity-hot .hd a {
      color: white;
      width: 6.34rem;
      float: right;
      font-size: 0.75rem;
      height: 100%;
      border-radius: 10px;
      text-align: center;
      line-height: 1.25rem;
      background-image: linear-gradient(90deg,#ff4f66,#ff6bc6);
      padding-right: 10px;
      position: relative;
    }
    .trip-sale .hd a::after,.activity-hot .hd a::after {
      content: '';
      position: absolute;
      right: 10px;
      top: 0px;
      width: 1.25rem;
      height: 1.25rem;
      background: url(../images/icon/you.png) right center no-repeat;
      background-size: 15px auto;
    }
    .trip-sale .bd {
      width: 100%;
      height: 13.6rem;
      display: flex;
    }
    .trip-sale .bd .main {
      flex: 1;
      height: 100%;
      background: #f9f9f9;
      margin-right: 10px;
      position: relative;
    }
    .trip-sale .bd .main span {
      color: white;
      position: absolute;
      line-height: 20px;
      width: 40px;
      text-align: center;
      font-size: 0.75rem;
      top: 0px;
      left: 0px;
      z-index: 10;
      background: #fd3a51;
    }
    .trip-sale .bd .main span::after {
      content: '';
      position: absolute;
      z-index: 11;
      width: 0px;
      height: 0px;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-top: 20px solid transparent;
      border-top-color:#fd3a51;
    }
    .trip-sale .bd .main .pic {
      width: 100%;
      height: 7.4rem;
    }
    .trip-sale .bd .main .pic img {
      width: 100%;
      height: 100%;
    }
    .trip-sale .bd .main p{
      margin: 8px;
      height: 2.5rem;
      line-height: 1.2rem;
      overflow: hidden;
      text-overflow: ellipsis;
      display:-webkit-box;
      -webkit-box-orient:vertical;
      -webkit-line-clamp:2;
    }
    .trip-sale .bd .main .price {
      padding: 0 8px;
    }
    .trip-sale .bd .main .price i:nth-child(1){
      color: #fe635e;
      font-size: 0.65rem;
    }
    .trip-sale .bd .main .price i:nth-child(2){
      color: #fe635e;
      font-size: 0.87rem;
    }
    .trip-sale .bd .main .price em {
      font-size: 0.75rem;
      background: #fd3a51;
      border-radius: 10px;
      color: white;
      padding: 0 5px;
    }
    .trip-sale .bd .other {
      flex: 1;
      height: 100%;
      overflow: hidden;
      font-size: 0.75rem;
    }
    .trip-sale .bd .other .row1{
      height: 90px;
      padding-left: 10px;
      line-height: 20px;
      background: #f9f9f9;
      margin-bottom: 10px;
      position: relative;
      overflow: hidden;
    }
    .trip-sale .bd .other .row1 p {
      margin-top: 10px;
      font-size: 14px;
      color: #fd3a81;
    }
    .trip-sale .bd .other .row2{
      text-align: center;
      line-height: 16px;
      height: 113px;
      display: flex;
    }
   .trip-sale .bd .other .row2 .col{
      position: relative;
    }
    .trip-sale .bd .other .col{
      background: #f9f9f9;
      height: 100%;
      flex: 1;
    }
    .trip-sale .bd .other .col:nth-child(1){
      background: #f9f9f9;
      margin-right: 10px;
    }
    .trip-sale .bd .other .row1 img {
      width: 53px;
      height: 71px;
      position: absolute;
      bottom: 0px;
      right: 10px;
    }
    .trip-sale .bd .other .row1 i {
      color: black;
    }
    .trip-sale .bd .other .row2 img {
      width: 48px;
      height: 35px;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 10px;
    }
    .trip-sale .bd .other .row2 .col p {
      padding-top: 10px;
      font-weight: bold;
      font-size: 14px;
    }
    .trip-sale .bd .other .row2 .col i {
      width: 50px;
      display: block;
      margin: 0 auto;
    }
    .trip-sale .bd .other .row2 .col:nth-child(1) a{
      color:#6ab4fe
    }
    .trip-sale .bd .other .row2 .col:nth-child(2) a{
      color: #8aca72;
    }


    .activity-hot {
      background: #fff;
      overflow: hidden;
      margin-top: 10px;
      height: 21rem;
    }
    .activity-hot .hd {
      padding: 0 7px;
      background: url(../images/un_home_text.png) 1px -17px no-repeat;
      background-size: 79px auto;
    }
    .activity-hot .hd a {
      margin-right: 15px;
    }

    .activity-hot .hd em {
      width: 46px;
      border-radius: 4px;
      height: 15px;
      margin-top: 3px;
      float: left;
      margin-left: 82px;
      background: url(../images/icon-gg@2x.png) center no-repeat;
      background-size: auto 20px;
    }
    .activity-hot .bd{
      border-top: 1px solid #e7e7e7;
      width: 100%;
      height: 18rem;
      display: flex;
    }
    .activity-hot .bd .main {
      flex: 1;
      height: 100%;
      box-sizing: border-box;
      border-right: 1px solid #e7e7e7;
    }
    .activity-hot .bd .main .pic {
      width: 100%;
      height: 12rem;
    }
    .activity-hot .bd .main .pic img{
      display: block;
      width: 100%;
      height: 100%;
    }
    .activity-hot .bd .other {
      flex: 1;
      display: flex;
      flex-direction: column;
    }
    .activity-hot .bd .other .row {
      flex: 1;
      border-bottom: 1px solid #e7e7e7;
    }
    .activity-hot .bd .other .row:nth-child(3) {
      border: none;
    }
    .activity-hot .bd .other .row img {
      width: 100%;
      height: 100%;
    }
    .activity-hot .bd .shop {
      width: 100%;
      height: 6rem;
      border-top: 1px solid #e7e7e7;
    }
    .activity-hot .bd .shop img {
      width: 100%;
      height: 100%;
    }
    .footer {
      position: relative;
      width: 100%;
      margin-top: 10px;
      height: 6.9rem;
    }
    .footer .up {
      height: 3.125rem;
      box-sizing: border-box;
      margin-bottom: 10px;
      display: flex;
      background: white;
      line-height: 4.2rem;
      border-top: 1px solid #e7e7e7;
      border-bottom: 1px solid #e7e7e7;
    }
    .footer .up span {
      flex: 1;
      font-size: 0.75rem;
      width: auto;
      text-align: center;
      position: relative;
    }
    .footer .up span::after {
      content: '\0020';
      position: absolute;
      width: 18px;
      height: 18px;
      left: 50%;
      top:5px;
      transform: translateX(-50%);
      background: url(../images/un_ico_home_v620.png) no-repeat -60px -152px;
      background-size: 104px 326px;
    }
    .footer .up span:nth-child(2)::after {
      background-position: -59px -171px;
    }
    .footer .up span:nth-child(3)::after {
      background-position: -60px -309px;
    }
    .footer p,.global-box p {
      text-align: center;
      line-height: 20px;
      font-size: 0.75rem;
    }
    .footer p .global-icon,.global-box p .global-icon {
      padding: 0 0.45rem;
      background: url(../images/un_icon_sites.png) no-repeat 0 -158px;
      background-size: 30px auto;
    }
    .footer p i {
      padding: 0 8px;
    }
    .footer p .global {
      padding-right: 16px;
      position: relative;
    }
    .footer p .global::after {
      content: '';
      position: absolute;
      top: 2px;
      right: 0px;
      width: 12px;
      height: 12px;
      transform: rotate(180deg);
      background: url(../images/icon/to-up.png) no-repeat center;
      background-size: 12px 12px;
    }
    @-webkit-keyframes slideInUps{
      from {
        transform: translate3d(0, 100%, 0);
        visibility: visible;
      }

      to {
        transform: translate3d(0, 0, 0);
      }
    }
    @-webkit-keyframes slideOutDowns {
      from {
        transform: translate3d(0, 0, 0);
      }

      to {
        visibility: hidden;
        transform: translate3d(0, 100%, 0);
      }
    }

    .global-box {
      width: 100%;
      animation-duration: .3s;
      animation-fill-mode: both;
      display: none;
      position: fixed;
      z-index: 110;
      left: 0px;
      bottom: -247px;
      background: white;
      width: 100%;
      padding: 17px 0 20px 0;
      -webkit-transition: all .2s ease-in;
      transition: all .2s ease-in;
    }
    .anishow {
      animation-name: slideInUps;
    }
    .anihide {
      animation-name: slideOutDowns;
    }
    .global-box p {
      position: relative;
      margin-bottom: 25px;
    }
    .global-box .close {
      background: url(../images/icon/close.png) no-repeat center;
      width: 20px;
      height: 20px;
      position: absolute;
      right: 12px;
      top: 17px;
    }
    .global-box .country ul {
      padding: 0 20px;
    }
    .global-box .country ul li {
      display: flex;
      margin: 30px 0;
      font-size: 0.75rem;
    }
    .global-box .country .language {
      padding-left: 35px;
      flex: 1;
      height: 20px;
      line-height: 20px;
      background: url(../images/un_icon_sites.png) no-repeat;
      background-size: 30px auto;
    }
    .global-box .country .lan1 {
      background-position: 0 0;
    }
    .global-box .country .lan2 {
      background-position: 0 -19px;
    }
    .global-box .country .lan3 {
      background-position: 0 -39px;
    }
    .global-box .country .lan4 {
      background-position: 0 -59px;
    }
    .global-box .country .lan5 {
      background-position: 0 -69px;
    }
    .global-box .country .lan6 {
      background-position: 0 -99px;
    }
    .global-box .country .lan7 {
      background-position: 0 -119px;
    }
    .global-box .country .lan8 {
      background-position: 0 -129px;
    }
    .global-box .country .lan9 {
      background: white;
    }

    .model-back {
      width: 100%;
      height: 100%;
      background: rgba(0,0,0,0.6);
      left: 0px;
      top: 0px;
      display: none;
      position: fixed;
      z-index: 10;
    }

    .search-page {
      width: 100%;
      height: 100%;
      max-width: 540px;
      background: #f2f2f2;
      position: fixed;
      overflow: hidden;
      top: 0px;
      left: 50%;
      transform: translateX(-50%);
      display: none;
    }

    .hd-wrap {
      width: 100%;
      height: 45px;
      background: #e6f0f7;
      display: flex;
    }
    .hd-wrap span {
      width: 45px;
      height: 45px;
      position: relative;
    }
    .hd-wrap span::after {
      content: '';
      position: absolute;
      width: 14px;
      height: 14px;
      top: 15px;
      left: 15px;
      border-left: 2px solid #8A9094;
      border-top: 2px solid #8A9094;
      transform: rotate(-45deg);
    }
    .hd-wrap .input-box {
      flex: auto;
      /* padding: 0 30px; */
      height: 31px;
      background: white;
      border-radius: 3px;
      margin: 6px 0 6px 5px;
      position: relative;
    }
    .hd-wrap .input-box::before {
      content: '';
      position: absolute;
      width: 15px;
      height: 15px;
      left: 7px;
      top: 8px;
      background: url(../images/icon/magnifier.png) center no-repeat;
      background-size: 15px 15px;
    }
    .hd-wrap .input-box::after {
      content: '';
      position: absolute;
      width: 15px;
      height: 15px;
      right: 7px;
      top: 8px;
      background: url(../images/icon/close.png) center no-repeat;
      background-size: 15px 15px;
    }
    .hd-wrap .input-box input {
      width: 232px;
      margin-top: 6px;
      margin-left: 30px;
      height: 20px;
      outline: none;
      border: none;
      font-size: 14px;
    }
    .hd-wrap .search-btn {
      width: 50px;
      height: 45px;
      color: #099fde;
      font-size: 15px;
      outline: none;
      border: none;
      background: transparent;
    }

    .bd-wrap {
      width: 100%;
    }
    .bd-wrap .prompt {
      color: #333;
      height: 50px;
      line-height: 50px;
      padding-left: 55px;
      border: 1px solid #DDD;
      background: url(../images/un_icon_ctrip.png) 10px center no-repeat;
      /* background-size: cover; */
    }
    .bd-wrap p {
      font-size: 12px;
      padding: 15px 0 5px 15px;
      border-bottom: 1px solid #ddd;
    }
    .bd-wrap ul li {
      width: 100%;
      height: 24px;
      padding: 10px 35px;
      background: white;
      border-bottom: 1px solid #ddd;
    }